body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

canvas {
    position: absolute;
    z-index: 1;
}

.main{
    position: relative;
    overflow: hidden;
    height: 100%;
    float: left;
    align-items: center;
}

.sidebar-button{
    border: none;
    position: relative;
    z-index: 3;
    float: left;
    color: white;
    height: 40px;
    background-color: gray;
    caret-color: transparent;
}

.sidebar {
    position: relative;
    z-index: 3;
    float: left;
    overflow: hidden;
    height: 100%;
    width: 140px;
    transition: 0.5s;
    color: cyan;
    background-color: gray;   
}
