::-moz-selection { 
    background: transparent;
}

::selection {
    background: transparent;
}

#objects-menu::-webkit-scrollbar {
    width: 0px;  
}

body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

canvas {
    position: absolute;
    z-index: 0;
}

.menu{
    opacity: 70%;
    background-color: rgb(43, 48, 48);
    color: #B8B8B8;
    caret-color: transparent;
    border: none;
    overflow: hidden;
    z-index: 1;
}

#main{
    position: absolute;
    overflow: hidden;
    display: flex;
    height: 100%;
    width: 100%;
    flex-flow: wrap row;
    justify-content: space-between;
}

#left-menu{
    width: 15%;
    height: 90%;
    display: flex;
}

#right-menu{
    width: 15%;
    height: 90%;
    display: flex;
    flex-direction: row-reverse;
}

#top-panel{
    width: 100%;
    height: 10%;
}

#left-sidebar-button{
    align-self: center;
    height: 12%;
    width: 12%;
    font-weight: bold;  
    font-size: 17px;
}

#left-sidebar-button:hover{
    color: rgb(43, 48, 48);
    background-color: #B8B8B8;
}

#left-sidebar {
    width: 88%;
}

#right-sidebar-button{
    align-self: center;
    height: 12%;
    width: 12%;
    font-weight: bold;  
    font-size: 17px;
}

#right-sidebar-button:hover{
    color: rgb(43, 48, 48);
    background-color: #B8B8B8;
}

#right-sidebar {
    width: 88%;
}

#objects-menu{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: flex-start ;
    flex-wrap: wrap;
    overflow-y: scroll;
}

#earth{
    width: 100px; 
    height: 100px; 
    background-color: white
}