body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

canvas {
    position: absolute;
    z-index: 1;
}

.menu{
    opacity: 70%;
    background-color: rgb(43, 48, 48);
    color: white;
    caret-color: transparent;
    transition: 0.5s;
    overflow: hidden;
}

.main{
    position: relative;
    overflow: hidden;
    display: flex;
    height: 100%;
    width: 100%;
    float: left;
    align-items: center;

}


.menu_footer{
    height: 5%;
    width: 100%;
    display: flex;
    background-color: aqua;
    position: relative;
    top: 95%;
    bottom: 0;
}

#sidebar-button{
    position: relative;
    z-index: 3;
    float: left;
    height: 7%;
    border: thick double;
    border-left: none;
}

#sidebar {
    position: relative;
    z-index: 3;
    float: left;
    overflow: hidden;
    height: 100%;
    width: 13%;
    border-right: thick double;
}
