::-moz-selection { 
    background: transparent;
}

::selection {
    background: transparent;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#objects-menu::-webkit-scrollbar {
    width: 0px;  
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

canvas {
    position: relative;
    z-index: 0;
    width: 100%;
}

.menu{
    background-color: #2B303080;
    caret-color: transparent;
    border: none;
    overflow: hidden;
    z-index: 1;
}

.button{
    background-color: #2B303080;
    caret-color: transparent;
    border: none;
    overflow: hidden;
    z-index: 1;
    font-weight: bold;  
    font-size: 17px;
    transition: 0.1s ease-in;
    color: #B8B8B8;
}

.button:hover{
    background-color: #2a2a2d;
    cursor: pointer;
}

.close-button{
    display: inline-block;
    width: 40px;
    height: 40px;
}

#main{
    position: absolute;
    overflow: hidden;
    display: flex;
    height: 100%;
    width: 100%;
    flex-flow: wrap row;
    justify-content: space-between;
}

#tutor-popup{
    display: none;
    z-index: 10;
    padding: 20px;
    width: 500px;
    height: 700px;
}

#overlay-popup{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: #00000060;
    justify-items: center;
    align-items: center;
}

#left-menu{
    width: 16%;
    height: 100%;
    top: 60px;
    display: flex;
}

#right-menu{
    width: 15%;
    top: 60px;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

#top-panel{
    position: relative;
    z-index: 3; 
    width: 100%;
    height: 65px;
    display: flex;
    padding-inline-start: 49px;
    justify-content: start;
    align-items: center;
    background-color: #222222;
    color: #eeeeee;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.15);
}

.top-span{
    color: #B8B8B8;
    align-self: center;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 10%;
    font-weight: bold;
    font-family: "Source Sans Pro", sans-serif;
    transition: background-color 0.2s ease;
}

.top-span:hover{
    background-color: #2a2a2d;
}

#left-sidebar {
    width: 88%;
}

#right-sidebar {
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

.sidebar-button{
    align-self: center;
    height: 12%;
    width: 12%;
}

#objects-menu{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: flex-start ;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.planet{
    width: 100px; 
    height: 100px; 
    border: 1px solid #B8B8B8;
    border-radius: 10%;
    transition: 0.5s;
}

.planet:hover{
    background-color: #2a2a2d;
}
.text{
    font-size: 15px;
    font-family:'Code New Roman', monospace;
    font-weight: bold;
    color: #B8B8B8;
}

#objects-title{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#description{
    width: 100%;
    background-color: #00000000;
    table-layout: fixed;
    border-collapse: collapse;
}

.property-node{
    width: 100%;
    font-weight: bold;
    text-align: center;
    word-break: break-all
}

.description-node{
    width: 100%;
    text-align: start;
    word-break: break-word
}

#description {
    border-collapse: collapse;
}
  
#description td {
border: 1px solid #B8B8B8;
}

#description tr td:first-child {
border-left: none;
}

#description tr td:last-child {
border-right: none;
}

#prvwcanvas{
    position: relative;
}



